@import '../vars.scss';

.customshadow {
  width: 15%;
  box-shadow: 16px 7px 88px -61px rgba(0, 0, 0, 0.76);
}

.pageContentWrapper {
  padding-left: 8%;
  width: 100%;
  height: 100%;
  background-color: #f4f6fa;
}
.sidebarWrapper {
  position: fixed;
  z-index: 1;
  min-height: 100vh;
  width: 8%;
  border-start-start-radius: 8px;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  box-shadow: 16px 7px 88px -61px rgba(0, 0, 0, 0.76);
  background-color: #f4f6fa;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.container-fluid {
  background-color: #f4f6fa;
  height: 100vh;
}

.dropdown-item {
  &.active {
    background-color: transparent !important;
    color: #212529;
  }
  &:active {
    background-color: transparent !important;
    color: #212529;
  }
}
.cartWidth {
  // width: 600px !important;
  flex-basis: 50ch;
  flex-grow: 1;
  flex-shrink: 0;
}
