@import '../../vars.scss';
//TO-DO rewrite this shit
.sdbar {
  margin-bottom: 7%;
  margin-left: 15%;
  margin-right: 15%;
  cursor: pointer;
  padding-top: 10%;
  padding-bottom: 10%;
  &:hover {
    background: #dfdfdf;
    color: black;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgb(216, 216, 216);
  }
  &.active {
    background: $theme-gradient;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 71px -13px rgba(251, 215, 214, 1);
  }
}
