/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

$enable-responsive-font-sizes: true;
$grid-breakpoints: (
  // Extra small screen / phone
    xs: 0,
  // Small screen / phone
    sm: 576px,
  // Medium screen / tablet
    md: 768px,
  // Large screen / desktop
    lg: 992px,
  // Extra large screen / wide desktop
    xl: 1200px,
  // Extra Extra large screen
    xxl: 1600px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1520px,
);
@import './vars.scss';
@import '~bootstrap/scss/bootstrap.scss';

/*
* FONTS
*/

/*
 * extending bootstrap classes
 *
 */

// a) margins and paddings
.m-05 {
  margin: ($spacer * 0.125) !important;
}

.p-025 {
  padding: 0.0625rem;
}

// b) overflows
.of-hidden {
  overflow: hidden !important;
}

.of-x-hidden {
  overflow-x: hidden !important;
}

.of-x-auto {
  overflow-x: auto !important;
}

// c) backgrounds
.bg-white-25 {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

// d) borders
// d-a) general
.border-white-25 {
  border-color: rgba(255, 255, 255, 0.25) !important;
}

.border-white-50 {
  border-color: rgba(255, 255, 255, 0.5) !important;
}

// d-b) rounded
.rounded-top-xlg {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.rounded-bottom-xlg {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-right-xlg {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-left-xlg {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.rounded-xlg {
  border-radius: 0.5rem !important;
}

//btns
.btn {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

/*
 * My global custom classes
 *
*/

button {
  &:active {
    border-style: solid;
  }
  &:focus {
    outline: none !important;
  }
}

html,
#root {
  height: 100%;
  font-family: 'Asap', sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

.customScrollBar {
  &::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
    z-index: 10;
  }
  &::-webkit-scrollbar {
    width: 5px;
    z-index: 10;
    // background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #000, $alpha: 0.3);
    z-index: 10;
    // border: 2px solid #c9b9b9;
  }
}

.customScrollBarLight {
  &::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 5px;
    // background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #fff, $alpha: 0.3);
    // border: 2px solid #c9b9b9;
  }
}

.theme-gradient {
  color: white;
  background: $theme-gradient;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    color: white;
  }
}

.theme-gradient-x {
  color: white;
  background: $theme-gradient-x;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    color: white;
  }
}

.theme-gradient-y {
  color: white;
  background: $theme-gradient-y;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    color: white;
  }
}

.theme-background {
  background: $theme-background-color;
}
.theme-glow {
  &:hover {
    // f98148
    // box-shadow: 0px 0px 71px -13px rgb(251, 215, 214);
    box-shadow: 0 0 71px -13px #f98148;
  }
}
.color-gradient {
  background: $theme-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
//components
@import './components/article/Article.scss';
@import './components/login/Login.scss';
@import './components/sidebar/SideBarButton.scss';
@import './components/manager/Logo.scss';
@import './components/cart/Cart.scss';

// @import './components/cart/Cart.scss';
//containers
@import './containers/HomePage.scss';
@import './containers/ManagerPage.scss';
