$theme-gradient: linear-gradient(90deg, #f98443 0%, #f74873 100%);
$theme-gradient-x: $theme-gradient;
$theme-gradient-y: linear-gradient(180deg, #fa7e48 0%, #f95a66 100%);
$theme-gardient-1: linear-gradient(135deg, #f98443 0%, #f74873 100%);
$theme-background-color: #f4f6fa;
